    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Meu Site{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Meu site</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/contact">Contato</a>
                <ul>
                    {% if user.is_authenticated %}
                        <li>Olá, {{ user.username }}</li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Sair</button>
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'registro' %}">Registrar</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content%}{% endblock %}
        </main>
        <footer>
            <p>Rodapé do site</p>
        </footer>
    </body>
    </html>